*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#box{
    height: 60%;
    width: 30%;
    border: 2px solid white;
    border-radius: 5px;
    background-color: red;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: monospace;
    font-size: 1rem;
}
 
button{
    padding: 20px 40px;
    margin-top: 10px;
    color: blue;
    font-family: monospace;
    border: none;
    border-radius: 20px;
}

button:active{
    scale: 0.95;
}